.select {
   width: 200px;
   min-width: 60px;
   border-radius: 8px;
   border: 1px solid #ededed;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.select .selected-option {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.6rem;
   cursor: pointer;
}

.select:hover {
   background: #f5f5f5;
}

.select .selected-option .content {
   width: 100%;
   height: 100%;
   padding: 8px 14px;
   display: flex;
   align-items: center;
   gap: 5px;
}

.select .selected-option .arrow {
   width: fit-content;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 12px;
}

.select .options-list {
   position: absolute;
   z-index: 5;
   top: calc(100% + 5px);
   left: 0;
   background-color: white;
   border: 1px solid #ededed;
   display: flex;
   flex-direction: column;
   gap: 5px;
   width: 100%;
   max-height: 300px;
   padding: 5px;
   border-radius: 8px;
   overflow-y: scroll;
   overflow-x: hidden;
}

.select .options-list .option {
   width: 100%;
   padding: 5px 14px;
   display: flex;
   align-items: center;
   gap: 5px;
}

.select .options-list .option:hover {
   background: #f5f5f5;
   border-radius: 8px;
   cursor: pointer;
   user-select: none;
}