span.spinner {
   display: inline-block;
   height: 100%;
   aspect-ratio: 1;
   min-height: 1rem;
   min-width: 1rem;
   margin: 2px 0;
   border: 3px solid #fff;
   border-top-color: #ffffff00;
   border-radius: 50%;
   animation: spin 1s linear infinite;
   margin-right: 0.5rem;
   vertical-align: middle;
}

span.spinner.black {
   border: 3px solid #000;
   border-top-color: #00000000;
}

@keyframes spin {
   to { transform: rotate(360deg); }
}